@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

/* Document */

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Component */

.calculator {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 32px;
  background-color: red;
  max-width: 540px;
  padding: 0;
  position: relative;
}

.theme-container {
  background-color: yellow;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.theme-title {
  float: left;
  font-size: 1rem;
}

.theme-labels {
  position: absolute;
  font-size: 1rem;
  right: 0;
  top: 0;
}

.theme-label {
  display: inline-block;
}

.output {
  background-color: purple;
  display: block;
  text-align: right;
}

.calculator-keys-container {
  background-color: #999;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.calculator-key {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

#RESET,
#EQUALS {
  grid-column: auto / span 2;
}

/* Footer */

footer {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
